{% extends 'dealer_base.html' %} {% block content %}
<style>
  body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-form {
    width: 400px;
    background-color: #034039;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #ada50d;
  }

  input[type="text"],
  textarea,
  input[type="submit"] {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0f3d22;
    color: #ffffff;
    margin-bottom: 15px;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  }

  input[type="text"]:focus,
  textarea:focus,
  input[type="submit"]:hover {
    border-color: #ada50d;
    background-color: #0f3d22;
    color: #ffffff;
  }

  input[type="submit"] {
    background-color: #fe5b3d;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
  }

  input[type="submit"]:hover {
    background-color: #d44229;
  }
</style>

<div class="edit-form">
  <h2>Edit Vehicle</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Save Changes" />
  </form>
</div>
{% endblock %}
